h1{
    color: greenyellow;
    background-color: gray;
    text-align: center;
}
h2{
    color: beige;
    background-color: darkorange;
    text-align:justify;
}
p{
    text-align: justify;
}
.destacado{
    
}
#caja{
    width: 50%;
    height: 20%;
}